{% extends "layouts/app.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4>Bono</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Crear</h4>
                <p class="card-title-desc">Ingrese los datos del bono que desea registrar</p>

                <form method='POST'>

                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="form-group mb-0">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light float-right">
                                Guardar
                            </button>
                            <a href="{% url 'vacations:bonus_list' %}" class="btn btn-light">Regresar</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- end col -->
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>

<script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

<script>
    $(function(){
        $("#id_expiration_at").datepicker({
            autoclose:!0,
            format: 'dd/mm/yyyy',
            todayHighlight:!0
        }).attr('readonly', 'false')
    })
</script>
{% endblock scripts %}
