{% load static %}
 <!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

<!--Morris Chart-->
<script src="{% static 'libs/morris.js/morris.min.js' %}"></script>
<script src="{% static 'libs/raphael/raphael.min.js' %}"></script>

{% comment %} <script src="{% static 'js/pages/dashboard.init.js' %}"></script> {% endcomment %}

<!-- App js -->
<script src="{% static 'js/app.js' %}"></script>

