{% extends "layouts/app.html" %}
{% load i18n %}
{% block content %}

<!-- start page title -->
<div class="row">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4>Tasas de retorno</h4>
        </div>
    </div>
</div>



<div class="row">
  
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4 ">                    
                    {% if perms.sddp.add_returnrate  %}
                        <a class='float-right btn btn-success' href="{% url 'sddp:returnrate_create'  %}">Agregar</a>                
                    {% endif %} 
                </h4>
                <div class="table-responsive mt-5">
                    <table class="table table-centered table-vertical table-nowrap mb-1">
                        <thead>
                            <tr>
                                <th>Año</th>
                                <th>Tasa de retorno</th>
                                {% comment %} <th>Resolución</th>
                                <th>Nivel de tensión</th> {% endcomment %}
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in rates %}
                                <tr>
                                
                                    <td>
                                    {% if perms.lessons.change_returnrate  %}
                                            <a href="{% url 'sddp:returnrate_change' item.pk  %}" >{{ item.year }}</a>
                                    {% else %} 
                                        {{ item.year }}
                                    {% endif %} 
                                        
                                        </td>
                                    <td>{{ item.value }}</td>
                                    {% comment %} <td>{{ item.resolution }}</td>
                                    <td>{{ item.tension_level}}</td> {% endcomment %}

                                                              
                                    <td class='text-right'>
                                        {% if perms.lessons.change_returnrate  %}
                                            <a href="{% url 'sddp:returnrate_change' item.pk  %}" class="btn btn-info btn-sm">Moficar</a>
                                        {% endif %} 
                                    </td> 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}

