<form action="https://login.microsoftonline.com/66d56c1d-d00f-4686-9a28-eb96d1eaf5bb/oauth2/v2.0/token" method="POST">
    <input type="text" name="client_id" value="408e5b32-51b5-48c9-9a2c-2dbb510bb03c">

    <input type="text" name="scope" value="user.read%20mail.read">
    <input type="text" name="code" value="0.ASUAHWzVZg_QhkaaKOuW0er1uzJbjkC1UclImiwtu1ELsDwlAIo.AQABAAIAAAD--DLA3VO7QrddgJg7WevrulaT122SCDmIqCVTy5qiInIMmLK8RHTt61vIQIOrYwxrhD47Z3od8MLQFT4scgg7Cwmjl_BO947Tufpdq77-6TBvwqZSvdWfd063ePPZ6R9SoKdUDAb4e_SlA010VnIPXociVNs-QZLjEOWAxsAB8ANUsvIszI7qtS6AFVGl2mBT-F1JyOt9zBtNJVI0BZGjKtexbeR7gRseTB7Fr5Y5hYyZowC-_TU6rCmEthCRAwb99efldHenK0vi5r3DCs5U9ipVSO9vMLTFz6dK_ymSUWBaO-YoxxZ_gZs94IPzYmQTbZt9A-D6W0uIvpkP5A6MktXoFTJ_Vyx0vJ1q8HPFMhbsHmVLhdL6dhDYQUEmmqyCY7Q_lK44NBUN85DXlxDy0ryZaDZAOHKhBe0REikJozZfgdkwEbjqY9fSerdDkSyzRnZad7fBHXaZnLwkuLRRdMhEgIE6G6LxWLwEqibHnzHtPWq9mbAxl_A7GxTCIBDG0MDpwpB8Ei3aU_V_DWFty9iRsF_yYcfURdUMHGhNFqvi-7_GXudsinhx9dZdvcW3fIdcIJO0yQIVz4eUxQjByyFQSTwvGJE7S8u2moHgFUGbQhs76xUQZucM38bp9x0gAA">
    <input type="text" name="redirect_uri" value="http://localhost:8000/m/microsoft">
    <input type="text" name="grant_type" value="authorization_code">
    <input type="text" name="client_secret" value="5~6jHqUDy_O4sEDZCv5ga__p~vsPc4Zy7k">


    <button type="submit">Enviar</button>
    
</form>