<style>
.center {

  text-align: center;
}
</style>


<table>
    <tr> 
        <th><h2>PHC SERVICIOS INTEGRADOS GROUP S.A.S</h2></th>
    </tr>
    <tr> 
        <th><h2>{{name}}</h2></th>
    </tr>
    <tr> 
        <th><h2>{{id_card}}</h2></th>
    </tr>    
    <tr> 
        <th><h2>LIQUIDACION DE VACACIONES</h2></th>
    </tr>    
</table>

<br>
<br>
<br>

<table style="background-color: #ffffff; filter: alpha(opacity=40); opacity: 0.95;border:1px red solid;">
    <tbody>
        <tr> 
            <td><h2>INICIO DEL DISFRUTE</h2></td>
            <td>{{start_date}}</td>
        </tr>

        <tr> 
            <td><h2>TERMINACION</h2></td>
            <td>{{end_date}}</td>
        </tr>

        <tr> 
            <td><h2>SALARIO</h2></td>
            <td>{{salary}} $</td>
        </tr>  

        <tr> 
            <td><h2>DIAS HÁBILES DE VACACIONES</h2></td>
            <td>{{business_days_taken}}</td>
        </tr> 

        <tr> 
            <td><h2>DIAS DISFRUTADOS Y LIQUIDADOS</h2></td>
            <td>{{calendar_days_taken}}</td>
        </tr>

        <tr> 
            <td><h2>VACACIONES</h2></td>
            <td>{{vacation_money}} $</td>
        </tr>

        <tr> 
            <td><h2>DEDUCCION</h2></td>
            <td>{{deduction}} $</td>
        </tr>

        <tr> 
            <td><h2>LIQUIDACION TOTAL VACACIONES</h2></td>
            <td>{{total_vacation}} $</td>
        </tr>    
    </tbody>
</table>
