{% extends "layouts/app.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4>Año gráfico</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">
                    Lista
                    <a class='float-right btn btn-success' href="{% url 'configuration_sddp:graph_year_create' %}">Crear</a>
                </h4>

                <div class="table-responsive">
                    <table class="table table-centered table-vertical table-nowrap mb-1">
                        <thead>
                            <tr>
                                <th>Proyecto</th>
                                <th>Año</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in graph_year %}
                                <tr>
                                    <td>{{ item.project }}</td>
                                    <td>{{ item.year }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'configuration_sddp:graph_year_change' item.pk  %}" class="btn btn-warning btn-sm">Editar</a>
                                        <a href="{% url 'configuration_sddp:graph_year_delete' item.pk  %}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
