{% extends "layouts/app.html" %}
{% load i18n %}
{% load static %}

{% block head %}
   <style>
    .mx-datepicker {
        width: 100% !important;
    }

   </style>
{% endblock head %}

{% block scripts  %}
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="{% static 'js/sddp.js' %}"></script>
    
{% endblock scripts  %}

{% block content %}

    <div class="row" id='search-app'>

        <div class="col-md-12">
            <search-component 
            components_url='{% url 'dashboard:get_components_by_metric' %}'
            get_dbs_url='{% url 'sddp:get_dbs' %}'
            get_operationalbenefits_url='{% url 'sddp:get_operationalbenefits' %}'
            :rates="{{ rates|safe }}"

            
            :projects='{{projects|safe}}' ></search-component>
        </div>
       

        <!-- Net effective capacity --> 
       

    </div>
    <!-- end row -->



{% endblock content %}

