{% extends "layouts/app.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %} {% block head %}
    <link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
{% endblock head %} {% endcomment %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4>Estudios de coordinación de protecciones</h4>
        </div>
    </div>
</div>

<form method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Crear</h4>
                    <p class="card-title-desc">Ingrese la información que desea registrar</p>

                    {% csrf_token %}
                    {{ form.title|as_crispy_field }}
                    {{ form.created_at|as_crispy_field }}
                    {{ form.budgeted_hours|as_crispy_field }}
                    {{ form.client|as_crispy_field }}
                    {{ form.created_by|as_crispy_field }}
                    {{ form.lesson_type|as_crispy_field }}
                    {{ form.description|as_crispy_field }}
                    {{ form.action_plan|as_crispy_field }}
                    {{ form.file|as_crispy_field }}

                    <div class="form-group mb-0">
                        <div>
                            <button type="submit" class="btn btn-primary float-right">Guardar</button>
                            <a href="{% url 'lessons:protection_coordination_studies_list' %}"  class="btn btn-light">Regresar</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6" id="technical">
            <div class="card">
                <div class="card-body">

                    {{ form.subcategory|as_crispy_field }}
                    <div id="subcategory_description">
                        {{ form.subcategory_description|as_crispy_field }}
                    </div>
                    {{ form.element_type|as_crispy_field }}
                    <div id="element_type_description">
                        {{ form.element_type_description|as_crispy_field }}
                    </div>
                    {{ form.protection|as_crispy_field }}
                    {{ form.relay_brand|as_crispy_field }}
                    <div id="relay_brand_description">
                        {{ form.relay_brand_description|as_crispy_field }}
                    </div>
                    {{ form.relay_model|as_crispy_field }}

                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</form>
{% endblock content %}

{% block scripts %}
    {% comment %} <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script> {% endcomment %}

    <script>
        $(function(){
            {% comment %} $("#id_created_at").datepicker({
                autoclose:!0,
                format: 'dd/mm/yyyy',
                todayHighlight:!0
            }).attr('readonly', 'false') {% endcomment %}

            $('#technical').hide()
            $('#subcategory_description').hide()
            $('#element_type_description').hide()
            $('#relay_brand_description').hide()

            $('#id_lesson_type').change(function(){
                let lesson_type = $(this).find(":selected").text()

                if(lesson_type == 'Técnica'){
                    $('#technical').show()
                }else{
                    $('#technical').hide()
                }
            })

            $('#id_subcategory').change(function(){
                let subcategory = $(this).find(":selected").text()

                if(subcategory == 'Otro'){
                    $('#subcategory_description').show()
                }else{
                    $('#subcategory_description').hide()
                }
            })

            $('#id_element_type').change(function(){
                let element_type = $(this).find(":selected").text()

                if(element_type == 'Otro'){
                    $('#element_type_description').show()
                }else{
                    $('#element_type_description').hide()
                }
            })

            $('#id_relay_brand').change(function(){
                let relay_brand = $(this).find(":selected").text()

                if(relay_brand == 'Otro'){
                    $('#relay_brand_description').show()
                }else{
                    $('#relay_brand_description').hide()
                }
            })

        })
    </script>
{% endblock scripts %}
